.modal__wrapper{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.modal__wrapper.modalStyle{
    background-color: rgba(57, 62, 70, 0.66);
}
.modal{
    display: flex;
    flex-direction: column;
    position: absolute;

    max-width: min(320px, 95vw);
    width: 320px;
    max-height: min(700px, 95vh);

    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 4px 10px 69px 55px rgba(var(--clrPrimary), 0.3);
    -moz-box-shadow: 4px 10px 69px 55px rgba(var(--clrPrimary), 0.3);
    box-shadow: 4px 10px 69px 55px rgba(var(--clrPrimary), 0.3);
    padding: 50px 15px 15px 15px;
}
.modal.modalStyle{
    padding: 15px 15px;
    border: 5px solid var(--clrBgColor);
}

.modal__img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;

    cursor: pointer;
    background-color: var(--clrBgColor);
    border-radius: 5px;
}
.img{
    display: block;
    height: 30px;
    width: 30px;

}
.img.modalStyle{
    display: block;
    height: min(5vw, 5vh);
    width: min(5vw, 5vh);
}
.modalStyle{}
.modal__splitter{
    margin-bottom: 10px;
}

@media screen and (orientation:landscape) and (max-width: 805px) {
    .modal{
        max-width: 90vw;
        overflow-y: auto;
    }
}