@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clrBgColor: #EEEEEE;
    --clrPrimary: 2, 122, 129;
    --clrAccent: #393E46;
    --clrContentBorder: #99D6FFFF;
    --scrollbarThumb: rgb(176, 250, 255);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--clrAccent);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
html{
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 36px;
    line-height: 1.2;
}
h2{
    color: var(--clrAccent);
    font-weight: 500;
}
nav{
    display: none;
}

.content{

    margin: 0px auto;
    padding: 20px 20px;
    max-width: 800px;
    min-height: 50vh;

    background-color: var(--clrBgColor);
    border-radius: 1rem;
    border: 0.5rem solid var(--clrContentBorder);

    -webkit-box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
    -moz-box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
    box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
}



/*----------------*/
/*Scrollbar change*/
/*----------------*/
.list {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--clrBgColor) var(--clrAccent);
}
.list::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
.list::-webkit-scrollbar-track {
    background: var(--clrAccent);
}
.list::-webkit-scrollbar-thumb {
    background-color: var(--clrBgColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}



.list{
    margin: 20px 0;
    padding: 50px;
    border: 5px solid var(--clrAccent);
    border-radius: 5px;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;

}
.list > hr{
    width: 100%;
    height: 2px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(var(--clrPrimary), 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(var(--clrPrimary), 0.8);
    box-shadow: 0px 2px 4px 0px rgba(var(--clrPrimary), 0.8);

}
.list__cell{
    display: flex;
    align-items: center;
    background-color: rgb(var(--clrPrimary));
    min-height: min(100px, 10vh);
    border-radius: 5px;
    color:white;
    padding: 10px 10px;
    margin-top: 10px;
}
.list__done input{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.list__label{
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list__delete{
    margin-left: auto;
    cursor: pointer;
}
.list__delete img{
    display: block;
    height: 50px;
    width: 45px;
}


.modal__h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.modal__label{
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
}
.modal__inputData{
    margin-bottom: 30px;
}



@media screen and (max-width: 805px) {
    body{
        overflow: hidden;
    }

    .content{
        border: 0;
        padding: 0;
    }
    .content__placeholder{
        height: 10vh;
    }



    .list{
        height: 85vh;
        min-height: 85vh;
        padding: 5vh;
        border: 0;
        margin: 0;
    }
    .list:first-child{
        margin-bottom: 15vh;
    }
    .list__done input{
        width: 20px;
        height: 20px
    }
    .list__label{
        margin-left: 10px;
        font-size: 18px;
    }
    .list__delete img{
        width: 20px;
        height: 20px
    }



}
