@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    font-family: "Roboto", sans-serif;
    margin: 50px auto;
    width: 800px;
    min-height: 50vh;
    background-color: #EEEEEE;
    border-radius: 1vw;
    padding: 20px 20px;
    border: 15px solid rgba(0, 158, 255, 0.51);
    -webkit-box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
    -moz-box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
    box-shadow: 4px 0px 57px 79px rgba(193, 193, 193, 0.27);
}

.addTask{
    margin: 50px 0 30px 0;
}

.addTask button{
    width: 300px;
    border: 5px solid #027a81;
    background-color: white;
    font-weight: 700;
}

.list{
    margin: 20px 0;
    padding: 50px;
    border: 5px solid #393E46;
    border-radius: 5px;
}
.list__cell{
    display: flex;
    align-items: center;
    background-color: #027a81;
    min-height: 100px;
    border-radius: 5px;
    color:white;
    padding: 10px 10px;
    margin-top: 10px;
}
.list__done input{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.list__label{
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
}
.list__delete{
    margin-left: auto;
    cursor: pointer;
}
.list__delete img{
    display: block;
    height: 50px;
    width: 45px;
}


.modal__h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.modal__label{
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
}
.modal__inputData{
    margin-bottom: 30px;

}




