/*LOGIN MODAL*/
.login_userImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.login_userImg img{
    display: block;
    border-radius: 50%;
    border: 2px solid rgb(var(--clrPrimary));
    width: max(50px, 7vh);
    height: max(50px,7vh);
}
.login_input{
    margin-bottom: min(3vh, 15px);
}
.login_choiseBox{
    display: flex;
    cursor: pointer;
    min-height: 50px;
    height: 50px;
    border: 4px solid var(--clrAccent);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.login_choiseBox span{
    display: block;
    height: 100%;
    width: 3px;
    background-color: var(--clrAccent);
}
.login_choise{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.activeChoiseLabel{
    flex-basis: 70%;
    transition: flex-basis 0.3s ease-in-out;
    background-color: rgba(var(--clrPrimary));
    color: var(--clrBgColor);
    font-weight: bold;
}
/*UserData*/
.update_exit{
    border: 2px solid rgb(77, 0, 0);
    border-radius: 5px;
    text-align: center;
    width: 50px;
    font-weight: bold;
    color: #cb0014;
    margin-bottom: 20px;
    cursor: pointer;
}
.userUpdate_previewLabel{
    margin-bottom: 10px;
}
.userUpdate_preview{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.update_changeButtons{
    display: flex;
    justify-content: space-between;
}
.update_changeButtons img{
    min-height: 40px;
    height: 5vh;
    cursor: pointer;
}